<user-nav></user-nav>
<div class="container login-container">
  <div class="row">
    <div id="loginOptionsGroup" class="row">
        <div class="col-lg-6 col-lg-offset-3 text-center loginOptions">
          <div class="col-lg-6 col-lg-offset-3">
            <div class="row">
                <img class="logo" src="/assets/images/login/ss-logo-trans.png"/>
            </div>
            <div class="row">
              <a (click)="toggleEmailSignUp()">
                <img class="sign-in-email-btn" src="/assets/images/login/sign-in.png"/>
              </a>
            </div>
            <div class="row">
              <a (click)="loginFacebook()">
                <img class="sign-in-fb-btn" src="/assets/images/login/fb-btn.png"/>
              </a>
            </div>
          </div>
        </div>
      </div>
</div>
</div>