<div fxLayout="row" fxLayoutAlign="left start">
    <div fxFlex.gt-mat="100" fxFlex.gt-sm="100" fxFlex="100">
      <mat-card class="mat-card-top">
        <mat-sidenav-container style="background: #fff;">
         
          <mat-toolbar class="chat-toolbar">
            <div fxLayout="row" fxFlex="100" fxLayoutAlign="center center">
              <!-- <button (click)="chatnav.toggle()" class="mr-1" md-icon-button>
                <md-icon>short_text</mat-icon>
              </button> -->
              <div fxFlex="30" class="sport">
                  <a href="#">Sports</a>
              </div> 
              <div fxFlex="70" class="team">
                <!-- <h5 class="ma-0">{{selectedMessage.from}}</h5>
                <h6 class="ma-0 mat-text-muted">Online</h6> -->
                <a href="#">Teams</a>
              </div>
              <input type="text" placeholder="Search...">
            </div>
          </mat-toolbar>
          <hr>
          <mat-card-content fxFlex="100">
            <div fxFlex="30">
                <mat-nav-list class="nav-list-box">
                    <mat-list-item class="season-type">
                      <div class="left-box" id="nfl" (click)="pickTeam($event)">
                        <img src="assets/images/icons/football-icon.png">
                        <div class="box-1"><span class="box1">NFL</span><br/>2016</div>
                        <div class="team-member">30 TEAMS</div>
                      </div>
                    </mat-list-item>
                    <div style="clear:both;"></div>
                    <mat-list-item class="season-type">
                        <div class="left-box" id="nba" (click)="pickTeam($event)">
                          <img src="assets/images/icons/basketball-icon.png">
                          <div class="box-1"><span class="box1">NBA</span><br/>2016-2017</div>
                          <div class="team-member">30 TEAMS</div>
                      </div>
                    </mat-list-item>  
                    <mat-list-item class="season-type">
                        <div class="left-box active" id="mlb" (click)="pickTeam($event)">
                            <img src="assets/images/icons/baseball-icon.png">
                            <div class="box-1"><span class="box1">MLB</span><br/>2016</div>
                            <div class="team-member">30 TEAMS</div>
                        </div>
                      </mat-list-item>    
                      <mat-list-item class="season-type">
                          <div class="left-box" id="nhl" (click)="pickTeam($event)">
                              <img src="assets/images/icons/hockey-icon.png">
                              <div class="box-1"><span class="box1">NHL</span><br/>2016-2017</div>
                              <div class="team-member">30 TEAMS</div>
                          </div>
                        </mat-list-item>    
                        <mat-list-item class="season-type">
                            <div class="left-box" id="mls" (click)="pickTeam($event)">
                                <img src="assets/images/icons/soccer-icon.png">
                                <div class="box-1"><span class="box1">MLS</span><br/>2016</div>
                                <div class="team-member">30 TEAMS</div>
                            </div>
                          </mat-list-item>        
                    
                  </mat-nav-list>
            </div>
            <div fxFlex="70" class="full-content">
              <mat-nav-list>
                  <div class="main-content" [hidden]="current">
                      <div class="content" *ngFor="let team of selectedSport" (click)="selectedTeam(team)">
                        <button matStepperNext class="team-list-button" mat-raised-button>
                        <div class="cont-img">
                          <img src="{{team.logo}}">
                        </div>
                        <div class="cont">
                            <span class="a1">{{team.city}}, </span><span class="a2">{{team.mascot}}</span>
                          </div>
                        </button>
                      </div>
                    </div> 
              </mat-nav-list> 
            </div>
          </mat-card-content>
        </mat-sidenav-container>
      </mat-card>
    </div>
  </div>