.example-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
  }
  .creditCard{
    background-image: url('/assets/images/buttons/payment/credit.png');
    height: 40px;
  }
  .example-container > * {
    width: 100%;
    min-width: 150px;
    max-width: 500px;
  }
  .instructions{
    width: 80px;
    height: 51px;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
  }

  #loginTitle {
    font-size: 2em;
  }
  
  mat-form-field, button {
    width: 90%;
    margin: 10px;
  }
  
  .alreadyAccountButton{
    font-size: 18px;
    font-family: arial;
    font-weight: 600;
    color:#3D9CE3;
  }
  
  .loginTextButton{
    font-size: 18px;
    font-family: arial;
    font-weight: 600;
    color:white;
  }
  .login-container{
    background-image: url('/assets/images/background.jpg');
    width: 100%;
    height: 1600px;
  }
  .container-fluid{
    padding-top: 15px !important;
    padding-right:40px !important;
  }
  .sign-in-fb-btn{
    width: 275px;
    height: 75px;
    object-fit: contain;
    margin-top:3vh;
  }
  .sign-in-email-btn{
    width: 275px;
    height: 75px;
    object-fit: contain;
    margin-top:6vh;
  }
  .logo{
    width: 60px;
    height: 68px;
    object-fit: contain;
  }
  #optionsGroup{
    margin-top:200px;
  }
  