<user-nav></user-nav>
<div class="container login-container">
  <div class="row">
    <div id="optionsGroup" class="row">
        <div class="col-lg-6 col-lg-offset-3 text-center loginOptions">
          <div class="col-lg-6 col-lg-offset-3">
            <div class="row" style="margin-bottom:50px" >
                <img class="logo" src="/assets/images/login/ss-logo-trans.png"/>
            </div>
            <div class="row">
                <span class="instructions">
                    Claim your ticket by selecting your preferred payment option below.
                 </span>
            </div>
            <div class="row">
                <a routerLink="/home">
                  <input type="image" class="sign-in-fb-btn" id="myimage" src="/assets/images/buttons/payment/paypal.png" />
                </a>
              </div>
            <div class="row">
              <a routerLink="/home">
                <input type="image" class="sign-in-fb-btn" id="myimage" src="/assets/images/buttons/payment/credit.png" />
              </a>
            </div>
            <div class="row">
                <a routerLink="/home">
                  <input type="image" class="sign-in-fb-btn" id="myimage" src="/assets/images/buttons/payment/venmo.png" />
                </a>
              </div>
          </div>
        </div>
      </div>
</div>
</div>