/* .container{
    background-color: #ebebeb;
    height:1000px;
}
.mailbox{
    margin-top:30px;
    background-color: white;
}
.mailboxHeader{
    font-size:22px;
    height:70px;
    border-bottom: 1px solid black;
    padding-top:18px;
    font-weight:600;
}
.singleMessagePreview{
    height:110px;
    border: 1px solid red;
}
.msgSenderPreview{
    width: 48px;
    height: 48px;
} */