#Logo {
    height: 100px;
    margin-top: 40px;
}

#GroupInstructions {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: lighter;
}
mat-form-field{
    width: 50%;
    background-color: rgba(255, 255, 255, 0.6) !important;
    /* border: 2px solid #ffffff;*/
    margin: 8px;
}
button {
    width: 50%;
    height: 80px;
    margin: 8px;
    border: 2px solid #ffffff;    
    border-color: #ffffff;
    font-size: 20px;
}
body > app-root > main > div > app-new-group > div > mat-form-field > div > div.mat-input-flex.mat-form-field-flex > div > span > label {
    text-align: center !important;
}
.newGroupContainer{
    background-image: url('/assets/images/background.jpg');
    height: 1000px;
}
.loginTextButton{
    font-size: 18px;
    font-family: arial;
    font-weight: 600;
    color:white;
  }
  .login-container{
    background-image: url('/assets/images/background.jpg');
    width: 100%;
    height: 1600px;
  }
  .container-fluid{
    padding-top: 15px !important;
    padding-right:40px !important;
  }
  .sign-in-fb-btn{
    width: 275px;
    height: 75px;
    object-fit: contain;
    margin-top:3vh;
  }
  .sign-in-email-btn{
    width: 275px;
    height: 75px;
    object-fit: contain;
    margin-top:6vh;
  }
  .logo{
    width: 60px;
    height: 68px;
    object-fit: contain;
  }
  .loginOptions{
    margin-top:180px;
  }
  .instructions{
    width: 80px;
    height: 51px;
    font-size: 17px;
    font-weight: 500;
    color: #ffffff;
  }
  .line {
    width: 100%;
    height: 2px;
    opacity: 0.8;
    border: solid 1px rgb(255, 255, 255);
  }
  .groupCodeInput{
    width: 260px;
    height: 60px;
    padding: 10px 16px;
    color:white;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 4px;
    background-color: rgba(110, 110, 110, 0.685);
    opacity: .6;
    margin-bottom:4vh;
    text-align:center;
  }