<div align="center">
  <div class="example-container">
    <mat-card>
        <img src="./../../assets/images/logo.png" alt="">
        <h1 id="loginTitle">Forgot Password</h1>
        <mat-card-content>
          <mat-form-field>
            <input 
              type="email" 
              matInput 
              placeholder="Email" 
              [(ngModel)]="user.email"
              name="email"                    
              [formControl]="email" 
              required>
            <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
          </mat-form-field>
          <br>
          <button color="primary" mat-raised-button (click)="resetPassword()">Reset Password</button>
          <br>
          <button color="primary" mat-raised-button (click)="toLogin()">Return to Login</button>
          <br>
          <button color="primary" mat-raised-button>Sign in with Facebook</button>
          <br>
          <span style="font-family: Sans-Serif;">Don't have an account? <a routerLink="/signup">Sign up Here</a></span>
        </mat-card-content>
    </mat-card>
  </div>
</div>