

<div align="center">
    <div class="example-container">
      <mat-card>
        <mat-list id="teamList">
          <mat-list-item  class="team-list-item" *ngFor="let team of filteredTeams">
            <button matStepperNext class="team-list-button" mat-raised-button>
                <div class="flex-container" >
                    <div class="team-picture">
                      <img src="{{team.team_logo}}" alt="">
                    </div>
                    <div class="team-details">
                      <!-- <span mat-line>{{group.season_ticket.sport}}</span> -->
                      <span>{{team.team}}</span><br>
                    </div>
                  </div>
            </button>                    
            <mat-divider></mat-divider>                    
          </mat-list-item>
        </mat-list>
      </mat-card>
    </div>
  </div>
  