  <nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <!-- <a class="navbar-brand" href="#">WebSiteName</a> -->
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a class="alreadyAccountButton" href="#">Already have an account? </a></li>
          <li><a class="alreadyAccountButton disabled"> |  </a></li>
          <li><a class="loginTextButton" routerLink="/login">Log in</a></li>
        </ul>
      </div>
    </nav>