.navbar{
    /* position: absolute !important; */
    float:right;
    margin-top: 3vh;
    margin-right: 5vh;
}
.example-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
  }
  
  .example-container > * {
    width: 100%;
    min-width: 150px;
    max-width: 500px;
  }
  
  #loginTitle {
    font-size: 2em;
  }
  
  mat-form-field, button {
    width: 90%;
    margin: 10px;
  }
  
  .alreadyAccountButton{
    font-size: 18px;
    font-family: arial;
    font-weight: 600;
    color:#3D9CE3;
  }
  
  .loginTextButton{
    font-size: 18px;
    font-family: arial;
    font-weight: 600;
    color:white;
  }
  